.search {
    padding: 5px 20px;
}

.search fieldset {
    border-radius: 5px;
    margin: 20px auto;
    width: 50vw;
}

.search label {
    display: block;
}

.search input {
    Font-size: 1.4rem;
}

.button {
    padding: 5px 20px;
}